header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}
.logo_desc {
    a {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
.desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    h3 {
        font-weight: 700;
        font-size: 20px;
        color: #000;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        color: #9d9d9d;
    }
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    li {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        .li_strong {
            font-weight: 600;
        }

        a {
            color: #5c5c5c;
            font-weight: 400;
            font-size: 14px;
            text-decoration: none;
        }
    }
}

.decorLine {
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
}

